<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网页</title>
</head>
<body>
    <div>
        <form>
            <label>
                用户名:
            </label>
            <input type="text" id="username" placeholder="用户名"> <br>
            <label>
                密码：
            </label>
            <input type="text" id="password" placeholder="密码">
        </form>
    </div>

    <div>
        <form>
            <input type="button" value="登陆">
        </form>
    </div>
</body>
</html>